doctype html
html(lang='es-ES')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='author' content='Facundo Martin Gordillo')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords' content='talentos,ocultos,ibm,cloud,foundry,watson,personality,insights')
    meta(name='description' content='Descubrí tus posibles profesiones y preferencias de compra')
    meta(name='og:title' content='Descubrí tu profesión y gustos de compra')
    meta(name='og:description' content='IBM Watson te dice tus preferencias de compra')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
