extends layout

block content
  .container
    .header-area
      h1 Talentos ocultos
    .content-area
      h2 Tu pais :V
      img(src="https://www.countryflags.io/" + country + "/flat/64.png", alt="", srcset="")

      h2 Y tus posibles profesiones
      ul
        each profession in professions
            li= profession
    .footer-area
      span hola mundo